@media screen and (max-width:1199px) {

    html {
        font-size: 15px;
    }

    .navigation-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 50px;
        background-color: black;
        transform: translateX(-100%);
        transition: all 0.3s linear;
        z-index: 100;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .menuToggle .navigation-menu {
        transform: translateX(0);
        justify-content: flex-start;
    }

    .navigation-menu ul {
        flex-direction: column;

    }

    .menu-toggle-btn {
        display: block;
    }

    .menu-close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        text-align: end;
        z-index: 55;
        font-size: 21px;
        height: 20px;
        width: 20px;
    }
    .home_banner {
        height: 30.625rem;
    }

}


@media (max-width: 991px) {
    .img_part {
        height: 26.42rem;
    }

}

@media (max-width: 767px) {
html{
    font-size: 14px;
}
.text_part {
    padding: 2rem 1rem;
}
.section_heading {
    font-size: 2.5rem;
}
.slick-slide {
    margin: 0;
}
.copy_txt p {
    text-align: center;
}
.copy_txt p {
    font-size: 0.9rem;
}
.ssl_certi {
    justify-content: center;
}
.ssl_certi_inner {
    width: 7.5rem;
}
.banner_box h1 {
    font-size: 2.5rem;
}
.home_banner {
    height: 27.625rem;
}
}

@media screen and (max-width:575px) {
    .img_part {
        height: 20.42rem;
    }
    .text_part p {
        font-size: 1.1rem;
    }
    .section_heading {
        font-size: 2rem;
    }
    .subscribe .form-row.justify-content-center {
        grid-template-columns: 1fr;
    }
    .be_best {
        text-align: center;
    }
    .brand-container a, .footer_logo a {
        width: 12.75rem;
    }
    .home_cat_cards {
        height: 22rem;
    }
}

@media screen and (max-width:480px) {
    .links_footr ul li a {
        font-size: 1.1rem;
    }
    .featured_text h3 {
        font-size: 1.4rem;
        line-height: 1.4;
    }
    .why_us_card_wrap>p {
        font-size: 1rem;
    }
    .subscribe p {
        font-size: 1.1rem;
    }
    .section_heading {
        font-size: 1.8rem;
    }
    .banner_box h1 {
        font-size: 2rem;
    }
    .banner_box h3 {
        font-size: 1.3rem;
    }
    .home_banner {
        height: 20.625rem;
    }
    .home_cat_cards {
        height: 15rem;
    }
    .why_us_card_text h5 {
        font-size: 1.1rem;
    }
}